@model List<ExtendedBrainItem>

@{
    ViewData["Title"] = "Brain";
}

@section Scripts 
{
    <script type="text/javascript" src="@Url.Content("js/genericSearch.js")" asp-append-version="true"></script>
}

<div class="container-fluid">
    <div class="row border-bottom mb-4">
        <div class="col">
            <h1>Brain</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                Helpmebot's brain - a repository of stored responses to command triggers which can be created and destroyed instantly.
                This page lists all the currently-known stored responses.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <input type="text" id="search" onkeyup="genericSearch()" class="form-control mb-3" placeholder="Search...">
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>Trigger</th>
                    <th>Response</th>
                </tr>
                </thead>
                <tbody id="searchTarget">
                @foreach (var entry in Model)
                {
                    <tr>
                        <th>
                            <span class="font-monospace text-nowrap">@entry.Keyword</span>
                            @if (entry.IsAction)
                            {
                                <br /><span class="badge bg-info text-dark">Action</span>
                            }
                            @if (entry.HasFormatting.GetValueOrDefault(true))
                            {
                                <br /><span class="badge bg-warning text-dark">Formatted</span>
                            }
                        </th>
                        <td>@if (entry.HasFormatting.GetValueOrDefault(true))
                            {
                                @Html.Raw(entry.HtmlFormatted)
                            }
                            else
                            {
                                @entry.Response
                            }</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>