@using Helpmebot.WebUI.ExtensionMethods
@using Microsoft.AspNetCore.Mvc.Localization
@model List<string>

<ul class="mb-0 list-unstyled">
    @foreach (var s in Model)
    {
        <li class="my-1 p-1 message-list-entry-item">@{
                                                         var p = s.ConvertIrcFormattingToWeb(out var changed);
                                                         @(changed ? Html.Raw(p) : s)
                                                     }</li>
    }
</ul>