<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="TC" value="https://teamcity.stwalkerster.co.uk/guestAuth/app/nuget/v1/FeedService.svc/" />
  </packageSources>
</configuration>