@model StaticPage
@{
    ViewData["Title"] = Model.Title;
}

<div class="container">
    <div class="row border-bottom mb-4">
        <div class="col">
            <h1>@Model.Title</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @Html.Raw(Model.Html)
        </div>
    </div>
</div>
