@using Markdig
@model Dictionary<string, Tuple<string, string>>
@{
    ViewData["Title"] = "Flags";
    ViewData["Tab"] = "Index";
    Layout = "_FlagsLayout";
}

<div class="row">
    <div class="col">
        <p>The currently defined flags are listed below.</p>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-highlightable">
            <thead>
            <tr>
                <th></th>
                <th>Summary</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var kvp in Model)
                {
                    <tr id="flag-@kvp.Key">
                        <th class="font-monospace fs-5"><span class="badge bg-info text-dark">@kvp.Key</span></th>
                        <td class="text-nowrap">@kvp.Value.Item1</td>
                        <td>@Html.Raw(Markdown.ToHtml(kvp.Value.Item2, new MarkdownPipelineBuilder().UseAdvancedExtensions().DisableHtml().Build()))</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>