<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Currently joined @ViewBag.BotStatus.ChannelCount channels.</p>
    <p>@ViewBag.BotStatus.Commands.Count registered commands.</p>
</div>