<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="database" type="Helpmebot.Configuration.XmlSections.DatabaseConfiguration, Helpmebot"/>
    <section name="core" type="Helpmebot.Configuration.XmlSections.CoreConfiguration, Helpmebot"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <database configSource="database.config" />
  <core debugChannel="##helpmebot" useragent="Helpmebot/6.4 (+https://helpmebot.org.uk)" httpTimeout="5000" authToServices="true"/>
</configuration>