<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Helpmebot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="helpmebot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <userSettings>
    <Helpmebot.Properties.Settings>
      <setting name="MysqlHostname" serializeAs="String">
        <value>dbmaster.srv.stwalkerster.net</value>
      </setting>
      <setting name="MysqlPort" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="MysqlUsername" serializeAs="String">
        <value>helpmebot</value>
      </setting>
      <setting name="MysqlPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="MysqlSchema" serializeAs="String">
        <value>helpmebot_v6</value>
      </setting>
    </Helpmebot.Properties.Settings>
    <helpmebot.Properties.Settings>
      <setting name="MysqlHostname" serializeAs="String">
        <value>dbmaster.srv.stwalkerster.net</value>
      </setting>
      <setting name="MysqlPort" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="MysqlUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="MysqlPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="MysqlSchema" serializeAs="String">
        <value />
      </setting>
    </helpmebot.Properties.Settings>
  </userSettings>
</configuration>