<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="private" type="Helpmebot.Configuration.XmlSections.PrivateConfiguration, Helpmebot" />
    <section name="core" type="Helpmebot.Configuration.XmlSections.CoreConfiguration, Helpmebot" />
    <section name="irc" type="Helpmebot.Configuration.XmlSections.IrcConfiguration, Helpmebot" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	
  <private configSource="database.config" />
  <core />
  <irc hostname="chat.freenode.net" port="7000" nickname="Helpmebot" username="Helpmebot" ssl="true" />
	
  <appSettings>
    <!-- Notification service -->
    <add key="enableNotificationService" value="true" />

    <!-- Nagios system monitoring service configuration -->
    <add key="systemMonitoringEnabled" value="true" />
    <add key="systemMonitoringPort" value="62167" />
    <add key="systemMonitoringMessage" value="Helpmebot v6 (Nagios Monitor service)" />
  </appSettings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>
</configuration>