<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="database" type="Helpmebot.Configuration.XmlSections.DatabaseConfiguration, Helpmebot"/>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <database configSource="database.config" />
</configuration>