<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red, HighIntensity" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow, HighIntensity" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="White, HighIntensity" />
    </mapping>
    <mapping>
      <level value="Debug" />
      <foreColor value="Green" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="DebugLogFile" type="log4net.Appender.FileAppender">
    <file value="debug.log" />
    <appendToFile value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>
    
  <root>
    <level value="DEBUG" />
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="DebugLogFile" />
  </root>

  <logger name="Default.Helpmebot.Legacy.Database.DAL">
    <level value="OFF" />
  </logger>
  
  <logger name="Helpmebot">
    <level value="OFF" />
  </logger>
  
  <logger name="Default.Helpmebot.Legacy.IRC.IrcAccessLayer">
    <level value="OFF" />
  </logger>

  <logger name="NHibernate">
    <level value="WARN" />
  </logger>
</log4net>