<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="ConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="Blue" />
    </mapping>
    <mapping>
      <level value="Debug" />
      <foreColor value="Green" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="DebugLogFile" type="log4net.Appender.FileAppender">
    <file value="debug.log" />
    <appendToFile value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>
    
  <root>
    <level value="DEBUG" />
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="DebugLogFile" />
  </root>

  <logger name="Default.Helpmebot.Legacy.Database.DAL">
    <level value="OFF" />
  </logger>
  
  <logger name="Helpmebot">
    <level value="DEBUG" />
  </logger>
  
  <logger name="Stwalkerster.IrcClient.IrcClient.Freenode">
    <level value="INFO" />
  </logger>

  <logger name="Stwalkerster.IrcClient.IrcClient.Freenode.Sync">
    <level value="OFF" />
  </logger>

  <logger name="Stwalkerster.IrcClient.IrcClient.Freenode.NetworkClient">
    <level value="INFO" />
  </logger>

  <logger name="NHibernate">
    <level value="WARN" />
  </logger>

  <logger name="NHibernate.Impl.Printer">
    <level value="OFF" />
  </logger>

  <logger name="Helpmebot.Services">
    <level value="OFF" />
  </logger>

  <logger name="Helpmebot.Background">
    <level value="WARN" />
  </logger>
  
  <logger name="NHibernate.Event.Default.AbstractFlushingEventListener">
    <level value="OFF" />
  </logger>

</log4net>