<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
    <to value="errorlog@helpmebot.org.uk" />
    <from value="helpmebot@helpmebot.org.uk" />
    <subject value="Helpmebot Error Log" />
    <smtpHost value="mail.srv.stwalkerster.net" />
    <bufferSize value="32" />
    <lossy value="true" />
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="ERROR"/>
    </evaluator>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="SmtpAppender" />
  </root>

  <logger name="Helpmebot.Legacy.Database.LegacyDatabase">
    <level value="INFO" />
  </logger>
	
  <logger name="Default.Helpmebot.Legacy.Database.DAL">
    <level value="ALL" />
  </logger>

  <logger name="NHibernate">
    <level value="WARN" />
  </logger>
	
  <logger name="Helpmebot.Services.MessageService">
    <level value="WARN" />
  </logger>

  <logger name="NHibernate.Impl.Printer">
    <level value="OFF" />
  </logger>
  
  <logger name="NHibernate.Event.Default.AbstractFlushingEventListener">
    <level value="OFF" />
  </logger>

  <logger name="Default.IrcClient">
    <level value="DEBUG"></level>
  </logger>

  <logger name="Default.IrcClient.Sync">
    <level value="OFF"></level>
  </logger>

  <logger name="Default.NetworkClient">
    <level value="DEBUG"></level>
  </logger>
</log4net>
