@using System.Reflection
@inject SiteConfiguration configuration
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@if(!string.IsNullOrWhiteSpace((string)@ViewData["Title"])){@ViewData["Title"]@(" - ")} Helpmebot</title>
    <link rel="stylesheet" href="~/scss/base.css" asp-append-version="true"/>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ac00ff">
</head>
<body>

<main>
    <div class="d-flex flex-column flex-shrink-0 p-2 p-md-3 text-white bg-dark sidebar border-primary border-end">
        <environment include="Development">
            <span class="badge d-none d-xxl-inline-block bg-danger mb-3">breakpoint: xxl</span>
            <span class="badge d-none d-xl-inline-block d-xxl-none bg-warning mb-3">breakpoint: xl</span>
            <span class="badge d-none d-lg-inline-block d-xl-none bg-success mb-3">breakpoint: lg</span>
            <span class="badge d-none d-md-inline-block d-lg-none bg-info mb-3">breakpoint: md</span>
            <span class="badge d-none d-sm-inline-block d-md-none bg-secondary mb-3">sm</span>
            <span class="badge d-sm-none bg-primary mb-3">xs</span>
        </environment>
        
        <a href="/" class="d-flex align-items-center mb-0 me-md-auto text-white text-decoration-none">
            <img style="max-height: 2.2em" class="me-0 ms-md-2 me-md-3" src="~/img/hmb-logo.svg" alt=""/>
            <span class="fs-4 d-none d-md-inline">Helpmebot</span>
        </a>
        <hr>

        @await RenderSectionAsync("UpperNav", required: false)

        <ul class="nav nav-pills flex-column">
            <li>
                <a class="nav-link text-white" href="https://github.com/helpmebot/helpmebot">
                    <i class="fas fa-code me-0 me-md-2"></i>
                    <span class="d-none d-md-inline">Source code</span>
                </a>
            </li>
            <li>
                <a class="nav-link text-white" href="https://phabricator.stwalkerster.co.uk/tag/helpmebot/">
                    <i class="fas fa-bug me-0 me-md-2"></i>
                    <span class="d-none d-md-inline">Bug tracker</span>
                </a>
            </li>
            @await RenderSectionAsync("LowerNav", required: false)

        </ul>
        @await RenderSectionAsync("Login", required: false)
    </div>

    <div class="divider"></div>
    <div class="container-fluid scrollarea py-3 pb-0 px-0 px-lg-3 d-flex flex-column">
        
        @RenderBody()
        
        
        <footer class="footer text-muted mt-auto">
            <div class="border-top pt-2">
                <p class="mb-0">
                    @await RenderSectionAsync("FooterBotVersion", required: false)
                    <small class="me-2"><strong>Helpmebot Web Management Console</strong> <environment exclude="Development">v@(Assembly.GetExecutingAssembly().GetCustomAttribute<AssemblyInformationalVersionAttribute>().InformationalVersion)</environment></small><environment exclude="Production"><span class="badge bg-light text-dark me-2">@Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")</span></environment>
                </p>
                <p class="mb-2">
                    @await RenderSectionAsync("FooterStatus", required: false)
                    <small class="me-2 text-nowrap">
                        <a class="me-2" href="~/privacy">Privacy</a>
                        <a class="me-2" asp-controller="Licence">Licence</a>
                        <a class="me-2" asp-controller="Credits">Credits</a>
                    </small>
                </p>
            </div>
        </footer>
    </div>

</main>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>