<li>
    <a asp-controller="Home" asp-action="Index" class="nav-link text-white @if (ViewContext.RouteData.Values["controller"].ToString() == "Home"){@(" active")}">
        <i class="fas fa-tachometer-alt me-0 me-md-2"></i>
        <span class="d-none d-md-inline">Home</span>
    </a>
</li>
<li>
    <a asp-controller="Brain" asp-action="Index" class="nav-link @if (ViewContext.RouteData.Values["controller"].ToString() == "Brain"){@(" active")}">
        <i class="fas fa-brain me-0 me-md-2"></i>
        <span class="d-none d-md-inline">Brain</span>
    </a>
</li>