@{
    Layout = "_BaseLayout";
}
<div class="h-100 d-flex flex-column justify-content-center align-items-center">
    <div class="col-8 alert alert-danger">
        <h4 class="alert-heading">Internal Server Error</h4>
        <p class="mb-0">Unfortunately, this tool has suffered a problem and cannot complete your request.</p>
    </div>
</div>