@{
    Layout = "_BaseLayout";
}
<div class="h-100 d-flex flex-column justify-content-center align-items-center">
    <div class="col-8 alert alert-danger">
        <h4 class="alert-heading">Could not connect to IRC bot</h4>
        <p>Unfortunately, this tool could not connect to Helpmebot.</p>
        <p class="mb-0">
            As this tool his entirely dependent on the APIs provided by the bot, this tool is offline until connectivity can be restored.
        </p>
    </div>
</div>